@page "/paste"
@using ProiectDeAnMRSTW.Application.Services
@using ProiectDeAnMRSTW.Domain.Abstractions
@* @inject ProductService ProductService; *@
<head>
    <link href="css/site.css" rel="stylesheet">
    <style>
         .back-to-menu {
            display: inline-block;
            padding: 10px 20px;
            background-color: #343a40; 
            color: white;
            text-decoration: none;
            border-radius: 5px;
            margin-bottom: 20px;
            font-size: 16px;
            transition: background-color 0.3s ease; 
        }

        .back-to-menu:hover {
            background-color: #344a46;
        }
    </style>
</head>

    <a href="/Produse" class="back-to-menu">Înapoi la meniu</a> 

	@if (ToatePastele == null)
	{
		<p>Se încarcă datele...</p>
	}
	else
	{
		<div class="container mt-4">
			<div class="row">
				@foreach (var aliment in ToatePastele)
				{
					<div class="col-md-3 col-sm-6 col-12 mb-4">
						<div class="product-category">
							<a href="@aliment.ProductPageLink">
								<img src="@aliment.ImageUrl" alt="@aliment.Name" class="category-image">
								<h5 class="category-title">@aliment.Name</h5>
							</a>
						</div>
					</div>
				}
			</div>
		</div>
	}


@code {
	public List<Aliment> ToatePastele { get; set; } = new List<Aliment>();

	protected override async Task OnInitializedAsync()
	{
		// ToatePastele = await ProductService.GetPaste();
	}
} 

@* <div class="dropdown">
    <button class="btn btn-primary" @onclick="ToggleDropdown">
        Meniu
    </button>

    @if (isDropdownOpen)
    {
            <ul class="dropdown-menu show">
            @if (ToatePastele == null)
            {
                <li class="dropdown-item">Se încarcă datele...</li>
            }
            else
            {
                @foreach (var aliment in ToatePastele)
                {
                    <li>
                        <a class="dropdown-item" href="@aliment.ProductPageLink">
                            <img src="@aliment.ImageUrl" alt="@aliment.Name" style="width: 30px; height: 30px; margin-right: 10px;">
                                            @aliment.Name
                        </a>
                    </li>
                }
            }
            </ul>
    }
</div>
 *@


@*
@code {
    private bool isDropdownOpen = false;
    private List<Aliment>ToatePastele = null!;


    protected override async Task OnInitializedAsync()
    {
        ToatePastele = await ProductService.GetPaste();
    }
    private void ToggleDropdown()
    {
        isDropdownOpen = !isDropdownOpen;
    }
}*@
