@page "/page3"
@layout MainLayout;
@using Microsoft.AspNetCore.Authorization
@using ProiectDeAnTW.Components.Layout
@using ProiectDeAnTW.Data.Services
@using ProiectDeAnTW.Models;
@inject LoadDataToPage3 LoadDataService
 @*
 @attribute [Authorize(Roles = "Admin")] 

 *@

 <!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdown Menu</title>
    
</head>
<body>



    <div class="dropdown">
        <!-- Butonul care deschide meniul -->
        <button class="dropdown-button">Categorie</button>
        @if (CategoriiDeAlimente == null)
        {
            <p>Se încarcă datele...</p>
        }
        else
        {

            <!-- Meniul dropdown care conține opțiuni -->
            <div class="dropdown-menu">
                @foreach (var categorie in CategoriiDeAlimente)
                {
                    <a href="@categorie.PageLink">@categorie.Category</a>
                }
            </div>
        }
    </div>

    @if (CategoriiDeAlimente == null)
    {
        <p>Se încarcă datele...</p>
    }
    else
    {
        <div class="container mt-4">
            <div class="row">
                @foreach (var categorie in CategoriiDeAlimente)
                {
                    <div class="col-md-3 col-sm-6 col-12 mb-4">
                        <div class="product-category">
                            <a href="@categorie.PageLink">
                                <img src="@categorie.ImageUrl" alt="@categorie.Category" class="category-image">
                                     <h5 class="category-title">@categorie.Category</h5>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
     }




</body>
</html>

@code {
    public List<CategorieAliment>? CategoriiDeAlimente { get; set;}


    protected override async Task OnInitializedAsync()
    {
        CategoriiDeAlimente = await LoadDataService.GetAllCategories();
    }
   
}