@page "/page2"
@using ProiectDeAnTW.Data.Services
@inject LoadDataToPage3 LoadDataService;
@inject ProductService ProductService;
@using ProiectDeAnTW.Models

    
        <div class="col-3" style="text-align:center;">
            <a href="page3">Page3</a>
        </div>

        <div class="dropdown">
        <button class="dropdown-button">Lista de produse</button>
            @if (CategoriiDeAlimente == null)
            {
                <p>Se încarcă datele...</p>
            }
            else
            {
                <div class="dropdown-menu">
                    @foreach (var categorie in CategoriiDeAlimente)
                    {
                        <a href="@categorie.PageLink">@categorie.Category</a>
                    }
                </div>
            }
        </div>
    



    @*
        <EditForm Model="@AlimentNou" OnValidSubmit="AddProduct" FormName="Name123">
        <div class="col-12 row">
            <label class="col-2 font-weight-bold">Name</label>
            <InputText class="form-control col-3" @bind-Value="@AlimentNou.Name"> </InputText>
        </div>
        <br />
        <div class="col-12 row">
            <span class="col-2"></span>
            <input  type="submit" class="form-control col-1 btn btn-primary" value="Save" />
            <span>&nbsp;</span>
            <input type="submit" class="form-control col-1 btn btn-primary" value="Clear" />
        </div>
    </EditForm>
    <br />
    *@@*Am folosit sa incarc datele*@

        @if (ToateAlimentele == null)
        {
            <p>Se încarcă datele...</p>
        }
        else
        {
            <div class="container mt-4">
                <div class="row">
                    @foreach (var aliment in ToateAlimentele)
                    {
                        <div class="col-md-3 col-sm-6 col-12 mb-4">
                                    <div class="product-category">
                                <a href="@aliment.ProductPageLink">
                                    <img src="@aliment.ImageUrl" alt="@aliment.Name" class="category-image">
                                    <h5 class="category-title">@aliment.Name</h5>
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }


@code {
    public List<CategorieAliment> CategoriiDeAlimente { get; set; }
    public Aliment AlimentNou { get; set; } = new Aliment();
    public List<Aliment> ToateAlimentele { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        ToateAlimentele = await ProductService.GetLegume();
        CategoriiDeAlimente = await LoadDataService.GetAllCategories();
    }

    public async Task AddProduct()
    {
        await ProductService.AddProduct(AlimentNou);
        // await ProductService.DeleteProductByName("Pere");
        AlimentNou = new Aliment();
    }
}

            





@*
            /*
                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Carne";
                // AlimentNou.Name = "CarneDePorc";
                // AlimentNou.ImageUrl = "images/Carne/CarneDePorc.jpg";
                // AlimentNou.ProductPageLink = "/carne/CarneDePorc";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Carne";
                // AlimentNou.Name = "CarneDeVita";
                // AlimentNou.ImageUrl = "images/Carne/CarneDeVita.jpg";
                // AlimentNou.ProductPageLink = "/carne/CarneDeVita";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Carne";
                // AlimentNou.Name = "JambonDeVita";
                // AlimentNou.ImageUrl = "images/Carne/JambonDeVita.jpg";
                // AlimentNou.ProductPageLink = "/carne/JambonDeVita";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Carne";
                // AlimentNou.Name = "Fars";
                // AlimentNou.ImageUrl = "images/Carne/Fars.jpg";
                // AlimentNou.ProductPageLink = "/carne/CarneFars";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Carne";
                // AlimentNou.Name = "AntricotDePorc";
                // AlimentNou.ImageUrl = "images/Carne/AntricotDePorc.jpg";
                // AlimentNou.ProductPageLink = "/carne/AntricotDePorc";
            */
            /*
                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Paste";
                // AlimentNou.Name = "Conchiglie";
                // AlimentNou.ImageUrl = "images/Paste/Conchiglie.jpg";
                // AlimentNou.ProductPageLink = "/Paste/Conchiglie";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Paste";
                // AlimentNou.Name = "Farfalle";
                // AlimentNou.ImageUrl = "images/Paste/Farfalle.jpg";
                // AlimentNou.ProductPageLink = "/Paste/Farfalle";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Paste";
                // AlimentNou.Name = "Scialatielli";
                // AlimentNou.ImageUrl = "images/Paste/Scialatielli.jpg";
                // AlimentNou.ProductPageLink = "/Paste/Scialatielli";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Paste";
                // AlimentNou.Name = "SedaniRigati";
                // AlimentNou.ImageUrl = "images/Paste/SedaniRigati.jpg";
                // AlimentNou.ProductPageLink = "/Paste/SedaniRigati"; 
            */
            /*
                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Dulciuri";
                // AlimentNou.Name = "BiscuitiOvaz";
                // AlimentNou.ImageUrl = "images/Dulciuri/BiscuitiOvaz.jpg";
                // AlimentNou.ProductPageLink = "/Dulciuri/BiscuitiOvaz";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Dulciuri";
                // AlimentNou.Name = "FerreroRocher";
                // AlimentNou.ImageUrl = "images/Dulciuri/FerreroRocher.jpg";
                // AlimentNou.ProductPageLink = "/Dulciuri/FerreroRocher";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Dulciuri";
                // AlimentNou.Name = "FerreroRocher";
                // AlimentNou.ImageUrl = "images/Dulciuri/FerreroRocher.jpg";
                // AlimentNou.ProductPageLink = "/Dulciuri/FerreroRocher";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Dulciuri";
                // AlimentNou.Name = "TurteDulce";
                // AlimentNou.ImageUrl = "images/Dulciuri/TurteDulce.jpg";
                // AlimentNou.ProductPageLink = "/Dulciuri/TurteDulce";
            
            */
            /*
                  
                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Fructe";
                // AlimentNou.Name = "Capsuni";
                // AlimentNou.ImageUrl = "images/Fructe/Capsuni.jpg";
                // AlimentNou.ProductPageLink = "/Fructe/Capsuni";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Fructe";
                // AlimentNou.Name = "Cirese";
                // AlimentNou.ImageUrl = "images/Fructe/Cirese.jpg";
                // AlimentNou.ProductPageLink = "/Fructe/Cirese";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Fructe";
                // AlimentNou.Name = "Mere";
                // AlimentNou.ImageUrl = "images/Fructe/Mere.jpg";
                // AlimentNou.ProductPageLink = "/Fructe/Mere";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Fructe";
                // AlimentNou.Name = "PepeneRosu";
                // AlimentNou.ImageUrl = "images/Fructe/PepeneRosu.jpg";
                // AlimentNou.ProductPageLink = "/Fructe/PepeneRosu";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Fructe";
                // AlimentNou.Name = "Pere";
                // AlimentNou.ImageUrl = "images/Fructe/Pere.jpg";
                // AlimentNou.ProductPageLink = "/Fructe/Pere";
            */
            /*
                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Peste";
                // AlimentNou.Name = "Biban";
                // AlimentNou.ImageUrl = "images/Peste/Biban.jpg";
                // AlimentNou.ProductPageLink = "/Peste/Biban";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Peste";
                // AlimentNou.Name = "Caras";
                // AlimentNou.ImageUrl = "images/Peste/Caras.jpg";
                // AlimentNou.ProductPageLink = "/Peste/Caras";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Peste";
                // AlimentNou.Name = "Carp";
                // AlimentNou.ImageUrl = "images/Peste/Carp.jpg";
                // AlimentNou.ProductPageLink = "/Peste/Carp";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Peste";
                // AlimentNou.Name = "Dalmors";
                // AlimentNou.ImageUrl = "images/Peste/Dalmors.jpg";
                // AlimentNou.ProductPageLink = "/Peste/Dalmors";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Peste";
                // AlimentNou.Name = "Somon";
                // AlimentNou.ImageUrl = "images/Peste/Somon.jpg";
                // AlimentNou.ProductPageLink = "/Peste/Somon";
            */
            /*
                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Legume";
                // AlimentNou.Name = "Leustean";
                // AlimentNou.ImageUrl = "images/Legume/Leustean.jpg";
                // AlimentNou.ProductPageLink = "/Legume/Leustean";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Legume";
                // AlimentNou.Name = "Marar";
                // AlimentNou.ImageUrl = "images/Legume/Marar.jpg";
                // AlimentNou.ProductPageLink = "/Legume/Marar";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Legume";
                // AlimentNou.Name = "Ridichie";
                // AlimentNou.ImageUrl = "images/Legume/Ridichie.jpg";
                // AlimentNou.ProductPageLink = "/Legume/Ridichie";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Legume";
                // AlimentNou.Name = "Rosii";
                // AlimentNou.ImageUrl = "images/Legume/Rosii.jpg";
                // AlimentNou.ProductPageLink = "/Legume/Rosii";

                // AlimentNou.Id = Guid.NewGuid();
                // AlimentNou.Category = "Legume";
                // AlimentNou.Name = "SfeclaRosie";
                // AlimentNou.ImageUrl = "images/Legume/SfeclaRosie.jpg";
                // AlimentNou.ProductPageLink = "/Legume/SfeclaRosie";
            
            */
*@



@*Nu merge*@
    @*
    <h3>Introdu datele:</h3>

    <EditForm Model="@AlimentNou" OnValidSubmit="AddProduct" FormName="AlimentNouForm">
        <DataAnnotationsValidator />

        <div>
            <label for="name">Nume:</label>
            <InputText id="name" @bind-Value="AlimentNou.Name" class="form-control" />
        </div>

        <div>
            <label for="category">Category:</label>
            <InputText id="category" @bind-Value="AlimentNou.Category" class="form-control" />
        </div>

        <div>
            <label for="imageurl">ImageUrl:</label>
            <InputText id="imageurl" @bind-Value="AlimentNou.ImageUrl" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Trimite</button>
    </EditForm>
     
    @code{
                public async Task AddProduct(/* string name, string category,string ImageUrl */)
                {
                    // AlimentNou = AlimentNouTemp;
                    AlimentNou.Id = Guid.NewGuid();
                    // AlimentNou.Category = category;
                    // AlimentNou.Name = name;
                    // AlimentNou.ImageUrl = ImageUrl;
                    Console.WriteLine($"Valorile sunt {AlimentNou.Name} {AlimentNou.Category} {AlimentNou.ImageUrl} {AlimentNou.Id}");
                    await ProductService.AddProduct(AlimentNou);
                }
    }
    *@

